.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



* {
    max-width: 1200px;
    margin: auto;
    font-family: Georgia;
}



header {
    text-align: center;
    background-color: #89BDD3;
    color: #FFFFFF;
    padding: 15px;
    margin: 10px;
}


header h1 {
    margin: 20px;
}


header nav ul {
    list-style: none;
    padding: 10px;
}


header nav ul li {
    font-size: 20px;
    display: inline;
    outline: 1px solid white;
    padding: 10px;
    margin: 5px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

header nav ul li:hover{
    background-color: #E62739;
}

header nav ul a {
    text-decoration: none;
    color: #FFFFFF;
}

table tr {
    text-align: center;
    height: 400px;
}

table tr img {
    height: 200px;
    margin: 20px;
}

table tr td {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

table tr td:hover {
    background-color: #DEDEDE;
}

table tr td a {
    text-decoration: none;
    color: #000000;
}

table tr td a:hover{
    text-decoration: underline;
}

table tr td p {
    font-family: sans-serif;
    margin-bottom: 5px;
}

.description {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid gray;
}

.description * {
    font-family: sans-serif;
}

.description p {
    line-height: 20px
}

.description div {
    vertical-align: top;
    display: inline-block;
}

.description div img {
    height: 300px;
    margin-top: 20px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.description div img:hover{
    height: 400px;
}

.description div p {
    margin-top: 10px;
}

.summary * {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.summary p {
    text-align: left;
}

.summary input {
  text-align: center;
}


#author {
    padding: 20px;
}

#author * {
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px;
}

#author h1 {
    text-align: center;
}

#about-body{
    text-align: center;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #89BDD3;
    color: #FFFFFF;
}

footer * {
    font-family: sans-serif;
    margin: 10px;
}

/* Order form */
.order_form {
    width: 100%;
}

.step{
    height: 60px;
    background-color: #80c0ff;
    color: #FFF;
    padding-left: 1%;
    padding-right: 1%;
    border-bottom: 3px solid #d9d9d9;
    border-radius: 5px;
    margin: 30px;
}

.number{
    width: 50px;
    height: 50px;
    background: #FFF;
    color: #888;
    font-size: 36px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
}

.title{
    width: 80%;
    height: 50px;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
}

.title h1{
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.content{
    padding-left: 1%;
    height: auto;
    margin: 30px;
}

.input-info{
    width: 100%;
    /*max-width: 400px;*/
    margin-left: 0;
}

form div i{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.all-input{
    padding: 10px 15px;
    width: 35%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 18px;
    display: inline-block;
}

.input-info > p {
    font-family: sans-serif;
    color: red;
    width: 40%;
    display: inline-block;
    margin-left: 19px;
    visibility: hidden;
}

.shipping{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.shipping input{
    width: 10px;
}

.shipping label{
    margin-left: 10px;
    color: #888;
}

.radio{
    margin-left: 5px;
}

#month{
    width: 40%;
    height: 47px;
    font-size: 18px;
    -webkit-appearance: menulist-button;
}

#year{
    width: 40%;
    height: 47px;
    float: right;
    margin-right: 47px;
    font-size: 18px;
    -webkit-appearance: menulist-button;
}

.dividor{
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.input-select{
    height: 47px;
    width: 100%;
    max-width: 352px;
    font-size: 18px;
    -webkit-appearance: menulist-button;
}

#left{
    width:40%;
    margin: 0;
    display: inline-block;
}

#right{
    width: 50%;
    display: inline-block;
}

#right input{
    margin-right: 10px;
}

.submission{
    margin: 20px 40px;
    height: 63px;
    width: 100px;
    border-radius: 5px;
    background-color: #80c0ff;
    color:#FFF;
    font-size: 20px;
}

.submission:focus {outline:0;}

#submit-error {
    display: inline;
    color: red;
    font-family: sans-serif;
    visibility: hidden;
}

.details * {
  font-family: sans-serif;
  text-align: center;
  margin: 3px;
}

.details img {
  height: 300px;
}


.recent {
    margin: 20px;
}

.recent * {
    font-family: sans-serif;
}
