<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerSeenProducts</servlet-name>
        <servlet-class>Web.CustomerSeenProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseHelper</servlet-name>
        <servlet-class>Web.DatabaseHelper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>Web.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>Web.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeavingCustomer</servlet-name>
        <servlet-class>Web.LeavingCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Web.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Web.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartTable</servlet-name>
        <servlet-class>Web.CartTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityUpdater</servlet-name>
        <servlet-class>Web.QuantityUpdater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderToDB</servlet-name>
        <servlet-class>Web.AddOrderToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteCart</servlet-name>
        <servlet-class>Web.CompleteCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrderToDB</servlet-name>
        <url-pattern>/AddOrderToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteCart</servlet-name>
        <url-pattern>/CompleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSeenProducts</servlet-name>
        <url-pattern>/CustomerSeenProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseHelper</servlet-name>
        <url-pattern>/DatabaseHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/ProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeavingCustomer</servlet-name>
        <url-pattern>/LeavingCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartTable</servlet-name>
        <url-pattern>/CartTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityUpdater</servlet-name>
        <url-pattern>/QuantityUpdater</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Products</welcome-file>
    </welcome-file-list>
</web-app>
