.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



* {
	max-width: 1200px;
	margin: auto;
	font-family: Georgia;
}



header {
	text-align: center;
	background-color: #89BDD3;
	color: #FFFFFF;
	padding: 15px;
	margin: 10px;
}


header h1 {
	margin: 20px;
}


header nav ul {
	list-style: none;
	padding: 10px;
}


header nav ul li {
	font-size: 20px;
	display: inline;
	outline: 1px solid white;
	padding: 10px;
	margin: 5px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

header nav ul li:hover{
	background-color: #E62739;	
}

header nav ul a {
	text-decoration: none;
	color: #FFFFFF;
}





table tr {
	text-align: center;
	height: 400px;
}

table tr img {
	height: 200px;
	margin: 20px;
}

table tr td {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

table tr td:hover {
	background-color: #DEDEDE;
}

table tr td a {
	text-decoration: none;
	color: #000000;
}

table tr td a:hover{
	text-decoration: underline;
}

table tr td p {
	font-family: sans-serif;
	margin-bottom: 5px;
}





.description {
	border: 1px solid red;
	margin-top: 20px;
	text-align: center;
}

.description * {
	font-family: sans-serif;
}

.description div {
	border: 1px solid red;
	display: inline-block;
}

.description div img {
	height: 300px;
	margin-top: 20px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.description div img:hover{
	height: 350px;
}

.description div p {
	margin-top: 10px;
}

.summary * {
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.summary p {
	text-align: left;
}




#about-body{
	text-align: center;
}



footer {
	text-align: center;
	margin: 30px;
	padding: 30px;
	background-color: #89BDD3; 
	color: #FFFFFF;
}